.nav{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    gap: 30px;

}
.nav a{
    font-family: fantasy;
    color: black;
    font-size: 40px;
}
.nav a:hover{
    color: cornflowerblue;
}
h1{
    justify-content: center;
    text-align: center;
}
.info{
    justify-content: center;
    text-align: center;
}
#cart_table {
    display: flex;
    background-color: bisque;
    gap: 20px;
    text-align: center;
}

.firstRow th{
    background: bisque;

}
th{
    font-family: DengXian;
    font-style: inherit;
}

.buttons{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.buttons button:hover{
    background-color: mintcream;

}


#login_error_message {
    text-align: center;
    justify-content: center;
    font-family: fantasy;
    color: red;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search label {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

#search input[type="text"],
#search input[type="number"] {
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

#search input[type="text"]::placeholder,
#search input[type="number"]::placeholder {
    color: #ccc;
}

#search input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
}

#search input[type="submit"]:hover {
    background-color: #45a049;
}

/*dropdown menu*/
.dropdown-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

select:focus {
    outline: none;
    border-color: #6d9eeb;
    box-shadow: 0 0 3px #6d9eeb;
}

#pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#pagination button{
    background-color: springgreen;
}
#pagination button:hover{
    color: limegreen;
}